<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>

<body>
    <h1>Hello There</h1>
    <table border="2">
        <tbody>
            <tr>
                <td>
                    <p>About</p>
                </td>
                <td>
                    <p>Me</p>
                </td>
            </tr>
            <tr>
                <td>2nd row</td>
                <td>2nd row</td>
            </tr>
        </tbody>
    </table>
</body>

</html>